.header{
    width:80%;
    margin:10px auto;
    padding:5px;
    /* border:1px solid black; */
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.214) 1px 1px 3px 2px;
    display:flex;
    justify-content: space-between;
}

.header_sub{
    display:flex;
    align-items: center;
    justify-content: start;

}

.header_logo{
    width:40px;
    height:60px;
    /* border:1px solid red; */
}

.header_title{
    font-size: 20px;
}

.active{
    scale: 1.3
}
.active:hover{
    scale:1.25;
}

.header_themes{
    display:flex;
    align-items: center;
    display: flex;
    justify-content: start;
    gap:5px;
    /* border:1px solid red; */
}

.theme-selector{
    width:20px;
    height:20px;
    border-radius:50%;
    transition:all .2s ease-in-out;
}
.theme-selector:not([style="scale(1.2)"]):hover{
    cursor: pointer;
    transform:translateY(-2px);
    transform:scale(1.2);
}

.light{
    background-color:#fff;
    border:1px solid #dbdada;
    /* transform: scale(1.4); */
}

.medium{
    background: #d6d0d0;

}

.dark{
    background-color: #000;
}

.g-1{
    background-image: linear-gradient(45deg, #ff0000, #ffff00);
}

.g-2{
    background-image: linear-gradient(45deg, #00ff00, #ffff00);
}    

.g-3{
    background-image: linear-gradient(45deg, #0000ff, #ffff00);
}