body {
    font-size: 16px; /* Default font size */
    height : 100vh;
  }
  
  @media (max-width: 768px) {
    body {
      font-size: 14px; /* Smaller font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 12px; /* Even smaller font size for very small screens */
    }
  }